<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <tr>
        <td>
          <i class="<%= "fas fa-#{g.icon}" %>"></i>
        </td>
        <td><%= g.name %></td>
        <td><%= g.amount %></td>
        <td>
          <%= link_to 'Show', group_path(g), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



<br>

<%= link_to 'New Group', new_group_path %>
<%= link_to 'Back', home_path %>
