<div class='position-relative test d-flex flex-column justify-content-between flex-grow-1 h-100 bg-dange' >

  <div class='text-center' >

    <h3 class='text-center mb-4' >Budget-App</h3>
    <h6 class='text-center' >Categories</h6>
  

<br>

  <% @groups.each do |g| %>
    
    <%= link_to group_path(g) do %>
      <div class="d-flex gap-4 justify-content-center" >        
        <i class="<%= "fas fa-#{g.icon}" %>"></i>        
        <div><%= g.name %></div>  
        <h4> <%= g.created_at%>  </h4>           
      </div> 
    <% end %>
  <% end %>


<br>

<%= link_to 'New Category', new_group_path %>
</div>
</div>