<%= form_with(model: @group, url: group_index_path) do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
  <%= form.label :icon %>  

  <select name="group[icon]" class="form-control">
    <% @icon_options.each do |option| %>
      <%=option%>
      <%= "============================" %>
      <option value="<%= option %>"><%= option %></option>
    <% end %>
  </select>  
</div>

<%= form.hidden_field :user_id, value: current_user.id %>  

  <div class="actions">
    <%= form.submit 'Create Group' %>
    <%= link_to 'Back', root_path %>
  </div>

<% end %>
