<%= form_with(model: @group, url: group_index_path) do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%# <div class="field">
    <%# <%= form.label :icon %> %>
    <%# <%= form.select :icon, Group.icons.keys.map { |key| [key.humanize, key] }, {}, class: 'form-control' %> %>
  <%# </div> %> %>

  <div class="field">
  <%= form.label :icon %>
  <%# <%= form.select :icon, @icon_options, {}, class: 'form-control' %> %>

  <select name="group[icon]" class="form-control">
    <% @icon_options.each do |option| %>
      <option value="<%= option %>"><%= option %></option>
    <% end %>
  </select>



  <%= @icon_options.inspect %>
</div>

<%= form.hidden_field :user_id, value: current_user.id %>
<%= form.hidden_field :entity_id, value: current_user.id %>

  <h1>
    <%= current_user.id %>
  </h1>  

  <div class="actions">
    <%= form.submit 'Create Group' %>
    <%= link_to 'Back', root_path %>
  </div>

<% end %>
