<%= form_with(model: @group, url: group_index_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.select :icon, Group.icons.keys.map { |key| [key.humanize, key] }, {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Group' %>
  </div>
<% end %>
