<h1>New Transaction</h1>

  <%= puts "====================================="%>
  <%= puts "====================================="%>
  <%= puts "====================================="%>

<%= form_with(model: @entity, url: entity_index_path ) do |form| %>

  <%= @entity.inspect %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%# <%= form.hidden_field :group, value: params[:group_id] %> %>
  <%= form.hidden_field :group, value: @groups.find(params[:group_id]).id %>



  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Transaction' %>
    <%= link_to 'Back', entity_index_path %>
  </div>

  
<% end %>
